{% extends 'base.html.twig' %}
{% block title %}Séries par catégorie{% endblock %}

{% block body %}
<h1>Séries par catégorie</h1>
{% for program in programs %}
<div class="mt-3">
  <h2>{{ loop.index }} / {{ program.id }} - {{ program.title }}</h2>
  <p>{{ program.summary }}</p>
  <a href="{{ path('program_show', { id: program.id}) }}">
    Voir le détail de: {{ program.title }}
  </a>
</div>
{% else %}
Aucune série trouvée.
{% endfor %}

<div class="mt-5">
  <a href="{{ path('category_index') }}">
    Retour à la liste des catégories
  </a>
</div>

{% endblock %}